<h1>Interpolation</h1>
<p>{{appName}}</p>
<!-- Property Binding -->
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>

<!--Style Binding-->
<p [style.color]="myColor">Text color is style using style binding.</p>

<p [class]="appliedCssClass">This text is styled using style binding.</p>
<p [class.blue]="notappliedCSSClass">No style binding applied in this line.</p>

<!--Event Binding-->
<h2>Event Binding</h2>
<br>
<button (click)="showData($event)"class="btn btn-primary btn-sm">Click this button!</button>
<br>
<br>
<button on-click="showData($event)"class="btn btn-primary btn-sm">Click me tool!</button>
<br>
<br>

<input type="text" #keyupbox placeholder="keyup box" (keyup)="getData(keyupbox.value)"/>
<br>
<input type="text" #keyinputbox placeholder="input box" (keyup)="getData(keyinputbox.value)"/>
<br>
<input type="text" #keydownbox placeholder="keydown box" (keyup)="getData(keydownbox.value)"/>
<br>
<input type="text" #keyblurbox placeholder="blur box" (keyup)="getData(keyblurbox.value)"/>
<br>
<app-gradebook></app-gradebook>