<hr>
<h1>This is the Gradebook page</h1>
<hr>
<img src={{imageUrl}} class="img-fluid" alt="...">
<br>
<br>
<br>
<div class="input-group">
    <span class="input-group-text">First and last name</span>
    <input type="text" [(ngModel)]="studName" aria-label="First name" class="form-control">
    <input type="text" [(ngModel)]="lastname" aria-label="Last name" class="form-control">
  </div>
  <br>
<div class="input-group mb-3">
  <span class="input-group-text" id="inputGroup-sizing-default">Enter your prelim grade</span>
  <input type="text" class="form-control" [(ngModel)]="prelim" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="Prelim">
</div>
<div class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-default">Enter your midterm grade</span>
    <input type="text" class="form-control" [(ngModel)]="midterm" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="Midterm">
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-default">Enter your final grade</span>
    <input type="text" class="form-control" [(ngModel)]="final" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default "placeholder="Final">
  </div>
<hr>
<p>Hello, {{studName}} {{lastname}}! </p>
<p>Prelim grade, {{prelim}}! </p>
<p>Midterm grade, {{midterm}}! </p>
<p>Final grade, {{final}}! </p>
<p>Average: {{(prelim+midterm+final)/3}}</p>

<hr>
<!--ngIf Directive-->
<div *ngIf="true">Display this message!</div>

<!--ngIfElse Directive Demo-->
<p>ngIfElse Directive Example</p>
<div *ngIf="isLogIn; else isLogOut">Hello you are logged IN</div>
<ng-template #isLogOut>You're logged out</ng-template>

<hr>
<!--ng for Example 1-->
<ul>
  <li *ngFor="let l of list">{{l}}</li>
</ul>
<hr>
<h5>Angular - Display a list of items with ngFor</h5>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of staff">
      <th scope="row">1</th>
      <td>{{user.firstName}} {{user.lastName}}</td>
      <td>{{user.email}}</td>
      <td>{{user.role}}</td>

  </tbody>
</table>

<hr>
<h2>ngSwitch directive</h2>
<hr>
<ul [ngSwitch]="logInName">
  <li *ngSwitchCase="users"><p>User is logged in..</p></li>
  <li *ngSwitchCase=""><p>admin is logged in</p></li>
  <li *ngSwitchDefault><p>Please choose login name</p></li>
</ul>

<ul><li *ngFor="let n of users">
  {{n.userId}},{{n.userName}}
</li></ul>